<link rel="stylesheet" href="css/customcss/menubar.css">

<nav class="navbar navbar-white navbar-inverse">
	<p class="navbar-text">My Home</p>
	<ul class="nav navbar-nav pull-right" style="color:black">
		<li><a href="#">소개</a></li>
		<li><a href="#">제품/서비스</a></li>
		<li><a href="#">갤러리</a></li>
		<li><a href="#">일정</a></li>
		<li><a href="#">게시판</a></li>
	</ul>
</nav>