.navbar-inverse {
  background-color: #fff !important;
}

.navbar-inverse .navbar-text {
  color: #000 !important;
  font-weight: bold !important;
}

@media (min-width: 768px) {
  .navbar {
    border-radius: 0px !important;
  }
}

.navbar-inverse .navbar-nav > li > a {
  color: #000 !important;
  font-weight: bold !important;
}

.navbar-inverse .navbar-nav > li > a:hover,
.navbar-inverse .navbar-nav > li > a:focus {
  color: #DDD !important;
}