<!DOCTYPE html>
<html>
<head>
<title>스프링부트 웹서비스</title>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1" />
<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
<link rel="stylesheet" href="/css/customcss/introduce.css">
</head>
<body>
	{{> common/menubar}}

<div class="introduce_container">
	<img src="img/myhome.PNG" id="myhomeimg">
	<div class="introduce_detail">
		<div class="atom_container">
			<span class="minititle">경영이념</span><br/>
			<span class="content">어쩌구저쩌구<br/>지랄지랄</span><br/>
		</div>
		<div class="atom_container">
			<span class="minititle">연혁</span><br/>
			<span class="content">어쩌구저쩌구<br/>지랄지랄</span>
		</div>
	</div>
</div>
{{> common/footer}}
</body>
</html>