<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.myhome.BoardMapper">
	<select id="getBoardByNum" resultType="com.myhome.webservice.dto.Board">
		UPDATE board set b_views=b_views+1
		WHERE b_number=#{b_number};
		
		SELECT *
		FROM board
		WHERE b_number=#{b_number};
	</select>
	
	<select id="getAllBoardList" resultType="map">
		SELECT *
		FROM board
	</select>
	
	<select id="getNoticeList" resultType="map">
		SELECT *
		FROM board
		where b_category = '0'
		ORDER BY b_number DESC
		LIMIT 0, 5		
	</select>
	
	<select id="getBoardListByPageNum" resultType="map">
		SELECT * 
		FROM board
		Where b_category = '1'
		ORDER BY b_number DESC
		LIMIT #{b_start}, #{b_limit}
	</select>
	
	<select id="getTotalPageNum" resultType="int">
		SELECT COUNT(*)
		FROM board where b_category = '1'
	</select>
	<select id="insertBoard" resultType="int">
<!-- 		<insert> -->
		INSERT INTO board (b_title, b_content, b_writer, b_category, b_wdate) VALUES
		(#{b_title}, #{b_content}, #{b_writer}, #{b_category}, #{b_wdate});
<!-- 		</insert> -->
		SELECT last_insert_id();
	</select>
	
<!-- 	<insert id="insertBoard" useGeneratedKeys="true" keyProperty="b_number"> -->
<!-- 		INSERT INTO board (b_title, b_content, b_writer, b_category) VALUES -->
<!-- 		(#{b_title}, #{b_content}, #{b_writer}, #{b_category}); -->
<!-- 		SELECT last_insert_id(); -->
<!-- 	</insert> -->
	<update id="updateBoardByNum">
		UPDATE board set b_title=#{b_title}, b_content=#{b_content}, b_wdate=#{b_wdate}, b_category=#{b_category}
		WHERE b_number=#{b_number}
	</update>
	
	<update id="updateViewsByNum">
		UPDATE board set b_views=b_views+1
		WHERE b_number=#{b_number}
	</update>
	
	<update id="updateLikesByNum">
		UPDATE board set b_likes=b_likes+1
		WHERE b_number=#{b_number}
	</update>
	
	<update id="updateCommentsByNum">
		UPDATE board set b_comments=b_comments+1
		WHERE b_number=#{b_number}
	</update>
	
	<delete id="deleteBoardByNum">
		DELETE FROM board 
		WHERE b_number=#{b_number}
	</delete>
</mapper>